.cInputText {
	height: 50%;
} 

.cInputField {
	height: 100%;
	width: 80%;
}
#Logo {
	position: absolute; 
	height: 40%;
	width: 95%;
	bottom: 0px;
	/*background-color: orange;*/
	/*alignment-adjust: central;*/	
}

#LogoImageDiv {
	float: right;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
}

#LogoImage {
	float: right;
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

@media (orientation: portrait)
{
	
}

@media (orientation: landscape)
{
	
}
