.center {
	height: 40%;	
}

.cInputText {
	font-size: 200%;
	margin:0%;
} 

.cInputField {
	width: 50%;
	font-size: 200%;
}

#Logo {
	position: absolute; 
	height: 40%;
	width: 95%;
	bottom: 0px;
	/*background-color: orange;*/
	/*alignment-adjust: central;*/	
}

#LogoImageDiv {
	float: left;
	margin-right: auto;
	margin-left: auto;
	height:100%;
	width: auto;
/*	vertical-align: middle; */
}

#LogoImage {
	vertical-align: middle;
	height: 100%;
	width: auto;
}

@media (orientation: portrait)
{
	
}

@media (orientation: landscape)
{

}
