.header {
	top: 0%;
	height: 50%;
}

.cInputText {
	font-size: 200%;
	margin:0%;
} 

.cInputField {
	width: 50%;
	font-size: 200%;
}

.center {
	height: 50%;
	top: auto;
	bottom: 0%;	
	overflow-y: auto;
	margin: auto;
}


#LogoImage {
	display: block;
	vertical-align: middle;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	width: 100%;
	height: auto;
}

@media (orientation: portrait)
{
	
}

@media (orientation: landscape)
{
	.header {
		height: 70%;
	}
	
	.center {
		height: 30%;
	}
	
	#LogoImage {
		width: auto;
		height: 100%;
}


}
