
.topBarHome {
	width: 50%;
	height: 90%;
	
}


.topBarHomeImage {
	max-height: 100%;
	max-width: 100%;
}

.header {
	font-size: 200%;
	padding: 1% 0%;
}

.headButtonDiv {
	float: left;
	width:25%;
	height:60%;
	margin: 1%;
}

.headButton {
	width:100%;
	height:100%;
	margin: auto;
}

.headButtonImg {
	height: 95%;
	width: auto;
	margin: auto;
}

.headData {
	margin: 1%;
	width:70%;
/*	height:100%; */
}

.head_data_element {
	float: right;
	background: #FFCC99;
	border: 1px solid;
	border-radius: 4px;
	margin: 1px 0%;
	font-size: 100%;
	direction: rtl;
}

#headName 
{
	float: left;
	width: 64%;
	text-align: center;
}

#headId
{
	width: 35%;
	text-align: center;
}

#headDetails
{
	width: 100%;
	font-size: 70%;
}

.center {
/*	background: #888888; */
}

.cReadForm {
	float:right;
	width: 100%;
	background-color: #FFDDBB;
	font-size: 200%;
}

.cReadData {
	float: right;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
}

.cSubmitData {
	float: left;
	width: 20%;
	margin: auto;
}

.cSubmitButton {
	width: 100%;
	font-size: 100%;
	vertical-align: middle;
	top: 30%;
}

.cReadMonth {
	text-align: center;	
}

.cReadInputDiv {
	width: 95%;
	margin: auto;
}

.cReadInput {
	width: 100%;
	font-size: 90%;
	text-align: center;
	background: yellow;
}

.cReadAmount {
	width: 70%;
/*
	margin-left:auto;
	margin-right:auto;
*/
	margin: auto;
	text-align: center;
	direction: ltr;
	border-radius: 20px;
}

.cTableData {
	float: right;
	width: 100%;
	margin: 1%;
	font-size:150%;
}

.cRow1 {
	width: 17%;
}

.cRow2 {
	width: 15%;
}

.cRow3 {
	width: 30%;
}

.cRow4 {
	width: 30%;
}

#Amount0, #Amount1, #Amount2, #Amount3 {
	direction: ltr;
} 	

.cItemKey {
	font-weight: bold;
	padding: 2%;
	background: linear-gradient(#808080, black);	
	/*background: #808080; */	
	color: white;
	font-size: 120%;
	
}

.detailedKey {
	width:35%;
}

.detailedValue {
	font-weight: bold;
	padding: 2%;
	font-size:150%;
	
}

#tableDetails {
	text-align:right;
}

/* this enables scrolling when keypad is up on switch*/
.cSwitchOverForm {
	overflow: auto;
	height: 100%;
}

.newOldTile {
	background: black;
	color: white;
	width: 95%;
	margin: 2% 1% 0.5% 1%;
	padding: 1%;
	text-align: right;
	float:right;
	font-size: 200%;
}

.cSwitchInputDiv {
	width: 100%;
	float: right;
	margin: 0.5%;
	
}

.switchInputLine {
	width: 40%;
	text-align: right;
	float: right;
	margin: 0% 1%;
}

.switchInput {
	width:40%;
	float: right;
	display: block;
	font-size: 170%;
	text-align: center;
	margin: 1%;
}

.cSwitchUpdate {
	margin: 1%;
	text-align: center;
	font-size: 250%;
	width: 40%;
	
}

#bSwitchSubmit {
}

.cMapImage {
	width: 100%;
/*	overflow: scroll; */	
}

.cSaveLocation {
/*	height: 40%; */
	vertical-align: top;
	white-space: normal;
	font-size: 200%;
/*	width: 20%; */
}

.cWaitMsg {
	position: absolute;
	top: 50%;
	background-size: 8em;
	height: 4em;
}


.footer {

}

.footerButton {
}

@media (orientation: landscape)
{
	
	.headButtonImg {
		height:10%; 
	}
	

}
