.header
{
	font-size: 150%;
}

.center
{
	font-size: 120%;
}

.footer
{
}



.cButtonDiv
{
	float: left;
	width:50%;
	padding:0%;
}

.cButton
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	font-size:100%;
}

.cForm 
{
	padding: 1%;
	font-size: 100%;
}

.cFormInput {
	width: 80%;
	font-size: 100%;
	margin: 2%;
	margin-left: auto;
	margin-right: auto;
}

.cTable {
	text-align: right;
	width: 95%;	
}

.cCustomerName {
	background-color:#FFBBBB;
}

.cMeterId {
	font-size: 100%;	
}

#tableData {
	height:100%;
	overflow: scroll;
	font-size: 100%;
	text-align: right;
}
