.topBar {
	margin: 0%;
}
.cTopBarLeft {
	width: 25%;
	margin: 0% 1%;
}

.cTopBarCenter {
	width: 45%;
	margin: 0% 1%;
}

.cTopBarRight {
	width: 25%;
	margin: 0% 1%;
}


.header
{
	font-size: 200%;
	padding: 1%;
}

.center
{
	font-size: 120%;
	overflow-y: scroll;
}


.cForm 
{
	//padding: 0%;
	font-size: 100%;
}

.cFormInput {
	font-size: 100%;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.cWarning {
	color: red;
	text-align: center;
}

.cTable {
	text-align: right;
}

.cTableHeader {
	text-align: center;
	font-weight: bold;
}

.cMeterRow {
}

.cMeterIdData {
	padding: 1%;
	width: 20%;
}

.cCustomerName {
	background-color:#FFBBBB;
	padding: 0.5%;
	width:20%;
}

.cMeterId {
	font-size: 200%;	
	border: 3px solid white;
	background: linear-gradient(#BBBBFF, #6666FF);
	border-radius: 10px;
	box-shadow: 5px 5px 7px #666666;
}

.cMeterDescription {
	padding: 0.5%;
}

#tableData {
	height:100%;
	overflow-y: scroll;
	font-size: 100%;
	text-align: right;
}

.footer
{
}

.footerButton {
}

.cWaitMsg {
	top: 40%;
	background-size: 8em;
	height: 4em;
}

@media (orientation: landscape)
{
	
	
}


