html {
	height: 100%;
	width: 100%;
	direction: rtl;
} 

body {
	height:100%;
	width: 100%;
	background-color:#FFEEBB;
	direction: rtl;
	font-size: 200%;
	margin: 0%;
}


table {
	width: 100%;
	margin: 1%;
	text-align: center;
	overflow-y: scroll;
}

button {
	border: 5px solid black;
	background: linear-gradient(#BBBBFF, #6666FF);
	border-radius: 10px;
}

.topBar {
	position: fixed;
	top: 0%;
	float: left;
	height: 5%;
	width:100%; 
	font-size: 200%;
	background: orange;
	margin: 0%;
}

.topBarElement {
	float: right;
	text-align: center;	
}

#readws
{
	height: 100%;
	margin: 0%;
	padding: 0%;
}

.header {
	position: fixed;
	top: 5%;
	float: right;
	height:20%;
	width: 100%;
/*	margin: auto; */
	background: blue;
}

.center
{
	position:fixed;
	top: 25%;
	height:70%;
	width:100%;
	float: left; 
	background: linear-gradient(#BBBBFF,#8866FF);
	overflow-y: scroll;
}

.footer
{
	position: fixed;
	bottom: 0px;
	height: 5%;
 	width: 100%;
	background: orange;
}

/* GRID of Footer <narrow><wide><wide><narrow> */
.span_footer_narrow {
	float: left;
	height: 100%;
	width:20%;
}

.span_footer_wide {
	float: left;
	width:30%;
	height: 100%;
}

.footerButton
{
	margin: auto;
	display: block;
	font-size:150%;
}

.large {
	height: 20%;
}

/*  COLUMN SETUP  */
.col {
/*	position: relative; */
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	text-align: center;
}
.col:first-child { margin-left: 0; }

/* GRID of 2 */
.span_1_of_2 {
	width:49%;
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}


@media (orientation: portrait)
{
	
}

@media (orientation: landscape)
{
	
	body {
		font-size: 100%;
	}
	
	.topBar {
		font-size: 100%;
		height: auto;
		padding: 0%;
	}
	
	.header {
		height: auto;
	}

	
}

