html, body {
	height:98%;
	width: 98%;

}

table {
	width: 90%;
	margin: 1%;
	text-align: center;
}

.Head {
	height:20%;
	width: 100%;
}

.center
{
margin:auto;
width:20%;
}

.Button {
	width: 40%;
	margin: 1px;
	padding: 2% 0%;
	color: #FF0000;
	background-color:#EEEEEE;
	text-align: center; 
	line-height:100%;
	vertical-align: middle;	
	border-width: 2px;
	border-color: #000000;
	border-style: solid;
	border-radius: 5px;
	box-shadow:10px 10px 5px #888888;
	transition: background-color 0.5s;
	transition: box-shadow 0.3s;
	position: absolute;
}

.Button:hover {
	color: #0000FF;	
	background-color:#FFEEEE;

}

.Button:active {
	box-shadow:2px 2px 2px #888888;

}

#LeftButton {
	left:1%;
	
}

#RightButton {
	right:1%;
}

#content {
	top: 30%;
}

#abox {
	height: 100px;
	width:100px;
	background-color:gray;
}

#Logo {
	position: absolute; 
	height: 50%;
	width: 100%;
	bottom: 0px;
	background-color: orange;
	/*alignment-adjust: central;*/	
}

#LogoImage {
	margin-right: auto;
	margin-left: auto;
	vertical-align: middle;
	width: 20%;
}

.Footer {
		position: absolute;
		width: 98%;
		bottom: 2px;
}
/*  COLUMN SETUP  */
.col {
/*	position: relative; */
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
	text-align: center;
}
.col:first-child { margin-left: 0; }

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}


